@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.box-shadow{
    box-shadow: 0 0 11px 2px;
}

body{
    overflow-x: hidden;
    background:rgb(43, 43, 43);
    /* radial-gradient(gold , #84919b ,  #3f688f); */
}

.background{
    background-image:url(assets/background.jpeg) ;
}

.login{
    /* background:linear-gradient(90deg ,#3f688f , #84919b); */
    background-color: #3A3B3D;
}
